<h1><%= title %></h1>

<form method="POST">
  <div class="form-group">
    <label for="admin-secret">Secret Word</label>
    <input
      type="text"
      class="form-control"
      id="admin-secret"
      name="admin-secret"
    />
  </div>
  <button type="submit" class="button-submit">Submit</button>
</form>
