<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <div class="sidebar"><%- include('./partials/sidebar') %></div>
      <div class="main"><%- body %></div>
    </div>
  </body>
</html>
