* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

.content {
  padding: 1rem 1rem;
  display: flex;
  gap: 4rem;
}

.sidebar {
}

.sidebar-nav {
  padding: 0;
  list-style: none;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-nav li a {
  font-size: larger;
  padding-left: 1rem;
}
